<div class="card__container" *ngFor="let Dado_pokemon of Pokemon_detalhes">
    <div class="card__pokemon-image-container">
        <img [src]="Dado_pokemon.sprites.other.dream_world.front_default" alt="" class="card__pokemon-image">
    </div>
    <div class="card__details">
        <div class="details__number-container">
            <span class="card__pokemon-number">#{{Dado_pokemon.id}}</span>
        </div>
        <div class="details__name-type">
            <Span class="card__pokemon-name">{{Dado_pokemon.name}}</Span>
            <img src="https://codeboost.com.br/projetos/pokeapi/img/grass.svg" alt="" class="card__pokemon-type">
        </div>
    </div>
</div>