<div class="card__container">
    <div class="card__pokemon-image-container">
        <img src="{{pokemon.sprites.other.dream_world.front_default}}" alt="" class="card__pokemon-image">
    </div>
    <div class="card__details">
        <div class="details__number-container">
            <span class="card__pokemon-number">#{{pokemon.id}}</span>
        </div>
        <div class="details__name-type">
            <Span class="card__pokemon-name">{{pokemon.name}}</Span>
            <img src="https://codeboost.com.br/projetos/pokeapi/img/grass.svg" alt="" class="card__pokemon-type">
        </div>
    </div>
</div>