a{
    text-decoration: none;
    color: #2F3133;
    
}
.card__container{
    box-sizing: border-box;
    height: 30.4rem;
    width: 25rem;
    color: #2F3133;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: space-around;
    padding: 2rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
}
.card__pokemon-image-container{
    width: 80%;
    height: 65%;
    background-color: #d6ebdc;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.card__pokemon-image{
    height: auto;
    width: 60%;
}
.details__name-type{
    display: flex;
    gap: 2rem;
}
.card__pokemon-name{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    color: #2F3133;
    text-transform: capitalize;
}