.lista-pokemons__container{
    background-color: #f5f7f7;
    padding-top: 4rem;
    padding-left: 2.5rem;
    padding-bottom: 4rem;
}
.lista-pokemon__head{
    margin-bottom: 4rem
}
.lista-pokemon__head-text{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    color: #4D5053;
}
.lista-pokemons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}