.lista-pokemons__container{
    background-color: #f5f7f7;
    padding-top: 4rem;
    padding-left: 2.5rem;
    padding-bottom: 4rem;
}
.lista-pokemon__head{
    margin-bottom: 4rem
}
.lista-pokemon__head-text{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    color: #4D5053;
}
.lista-pokemons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.btn-MaisPokemon{
    border: 0;
    background-color: #e2e7f0;
    width: 19rem;
    line-height: 4.5rem;
    display: block;
    margin: 0 auto;
    margin-top: 6.8rem;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: -0.01em;
    color: #3F5DB3;
    border-radius: 6px;
}
.btn-MaisPokemon:hover{
    background-color: #3F5DB3;
    color: #fff;
    cursor: pointer;
}