<section class="view__container">
    <div class="view__pokemon-banner">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/8.svg" alt="" class="pokemon-photo">
    </div>
    <div class="view__pokemon-details">
        <div>
            <p class="pokemon-details__name">Wartortle</p>
            <span class="pokemon-details__number">#001</span>
        </div>
        <div class="pokemon-details__especificacoes">
            <div class="pokemon-details__tamanho">
                <p>Height</p>
                <p>1m</p>
            </div>
            <div class="pokemon-details__peso">
                <p>Weight</p>
                <p>22.5kg</p>
            </div>
            <div class="pokemon-details__habilidades">
                <p>Abilities</p>
                <p>Torrent</p>
            </div>
        </div>
        <div>
            <div class="pokemon-details__fraqueza">
                <p>Weaknesses</p>
            </div>
            <div class="pokemon-details__fraqueza-types">
                <span>Grass</span>
                <span>Eletric</span>
            </div>
        </div>
    </div>
</section>