<section class="view__container">
    <div class="view__pokemon-banner">
        <img [src]="img" alt="" class="pokemon-photo">
    </div>
    <div class="view__pokemon-details">
        <div>
            <span class="pokemon-details__name">{{nome}}</span>
            <span class="pokemon-details__number">#{{id}}</span>
        </div>
        <ul class="pokemon-details__especificacoes-container">
            <li class="pokemon-details__especificacoes">
                <span>Height</span>
                <strong>???</strong>
            </li>
            <div class="pokemon-details__especificacoes">
                <span>Weight</span>
                <strong>???</strong>
            </div>
            <div class="pokemon-details__especificacoes">
                <span>Abilities</span>
                <strong>???</strong>
            </div>
        </ul>
        <div>
            <div class="pokemon-details__fraqueza">
                <p>Weaknesses</p>
            </div>
            <div class="pokemon-details__fraqueza-types">
                <ul>
                    <li>???</li>
                    <li>???</li>
                </ul>
            </div>
        </div>
    </div>
</section>