<section class="view__container">
    <div class="view__pokemon-banner">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/8.svg" alt="" class="pokemon-photo">
    </div>
    <div class="view__pokemon-details">
        <div>
            <span class="pokemon-details__name">Wartortle</span>
            <span class="pokemon-details__number">#001</span>
        </div>
        <ul class="pokemon-details__especificacoes-container">
            <li class="pokemon-details__especificacoes">
                <span>Height</span>
                <strong>1m</strong>
            </li>
            <div class="pokemon-details__especificacoes">
                <span>Weight</span>
                <strong>22.5kg</strong>
            </div>
            <div class="pokemon-details__especificacoes">
                <span>Abilities</span>
                <strong>Torrent</strong>
            </div>
        </ul>
        <div>
            <div class="pokemon-details__fraqueza">
                <p>Weaknesses</p>
            </div>
            <div class="pokemon-details__fraqueza-types">
                <span>Grass</span>
                <span>Eletric</span>
            </div>
        </div>
    </div>
</section>