<section class="banner__container">
    <div class="banner__top">
        <img src="../../../assets/images/logo.svg" alt="">
    </div>
    <div class="banner-main">
        <h1 class="banner-title">Quem é esse Pokémon?</h1>
        <p class="banner-description">O guia de todos os caçadores de Pokémons</p>
    </div>
    <div class="banner__image-container">
        <img src="../../../assets/images/luzes.svg" alt="">
        <img src="../../../assets/images/img-pokeball.png" alt="">
    </div>
</section>